{% extends 'home/main.html' %}
{% block content %}
<div class="container p-5 m-5 bg-primary">

    <div class="row display-center">
        <div class="col-1"></div>
        <div class="col-8 card p-3 mb-3">
            <p class="size-0 bold black">Welcome Back</p>
            <p class="size-4 black me-3 ">Welcome to To_Do_List! sign up to take service</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <p class=""><input  class="btn btn-primary" type="submit" value="sign in"></p>
            </form>
            <p class="size-2 p-3">Don't have an account? <a class="no-underline black" href="{% url 'user_register' %}">Sign Up</a> </p>
        </div>
    </div>
    <div class="">

    </div>
</div>
{% endblock content %}
