{% extends 'home/main.html' %}
{% block content %}
<div class="container">
    <a class="no-underline" href="{% url 'home' %}">⌂ Home</a>
    <div class="p-3"></div>
    <div class="card bg-color-for-todo">
        <div class="p-3"></div>
        <p class="display-center size-0 bold font-family-verdana ">HERE STUDY PLAN  <a class="no-underline" href="{% url 'study_plan_create' %}">+</a></p>
        <div>
            {% for study_plan in study_plans %}
            <a class="no-underline" href="{% url 'study_plan_delete' study_plan.id %}">
                <div class="card display-center p-3 m-3">
                    <p>
                        <span  class="size-1 blue">
                        {{study_plan.title}}
                        </span>
                        <span class="size-4 mid-light">{{study_plan.start_time}} to {{study_plan.end_time}}
                        </span>
                    </p>
                    <p>{{study_plan.work}}</p>
                </div>
            </a>
            <div class="p-1"></div>
            {% empty %}
            <div class="card display-center">
                <h4>No Task</h4>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="p-3"></div>
</div>
{% endblock content %}
