<h1>ToDo List</h1>

<a href="{% url 'task_create' %}">Add Task</a>

<form method="GET" action="">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="search">
    <button><a href="{% url 'tasks' %}">✕</a></button>
</form>

<table>
    <tr>
        <p>Items</p>
    </tr>
    {% for task in tasks %}
    <tr>
        <p>{{task.title}} <a href="{% url 'task' task.id %}">View</a> <a href="{% url 'task_update' task.id %}">Edit</a>  <a href="{% url 'task_delete' task.id %}">Remove</a> </p>
    </tr>

    {% empty %}
       <h4>No Task</h4>

    {% endfor %}
</table>
<a href="{% url 'home' %}">Home</a>